PROJECT_ID=your-project-id
LOCATION=us-central1
NEWS_API_KEY=your-news-api-key
EMAIL_API_KEY=your-email-api-key
SENDER_EMAIL=your-verified-sender-email
EMAIL_PROVIDER=resend
USE_SECRET_MANAGER=false
SEND_SCHEDULE="0 8 * * *"
